<div class="container">
    <h3>Listagem de Pessoas</h3>
    <table class="table table-sm table-striped table-hover table-bordered">
      <caption>List of users</caption>
      <thead>
        <tr class="table-dark">
          <th>Nome</th>
          <th>Grupo</th>
          <th>Privilégio</th>
          <th>Privilégio adicional</th>
        </tr>
      </thead>
      <tbody table-group-divider>
        <!-- Use um ngFor para iterar sobre a lista de pessoas -->
        <tr *ngFor="let pessoa of pessoas">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.grupo}}</td>
          <td>{{pessoa.tipoPublicador}}</td>
          <td>{{pessoa.privilegio}}</td>
        </tr>
      </tbody>
    </table>
  </div>