<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <a href="#" id="menus" class="list-group-item border-end-0 d-inline-block text-truncate"
                        data-bs-parent="#sidebar"><i class="bi bi-bootstrap"></i> <span>PESSOAS</span> </a>
                    <a href="#" id="menus" class="list-group-item border-end-0 d-inline-block text-truncate"
                        data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>GRUPOS</span></a>
                    <a href="#" id="menus" class="list-group-item border-end-0 d-inline-block text-truncate"
                        data-bs-parent="#sidebar"><i class="bi bi-heart"></i> <span>REUNIÕES</span></a>
                    <a href="#" id="menus" class="list-group-item border-end-0 d-inline-block text-truncate"
                        data-bs-parent="#sidebar"><i class="bi bi-bricks"></i> <span>TERRITÓRIOS</span></a>
                </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
        </main>
    </div>
</div>