<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 col-md-8 col-sm-10">
      <div class="card p-4 shadow-lg">
        <h2 class="mb-4 text-center">Cadastro de Pessoa</h2>
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-3">
            <label for="validationCustom01" class="form-label">Nome</label>
            <input type="text" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Nome completo</label>
            <input type="text" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Nome família</label>
            <input type="text" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-2">
            <label for="validationCustom04" class="form-label">Grupo</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Escolha...</option>
              <option>Vila Yara</option>
              <option>Brecheret</option>
              <option>Campesina</option>
              <option>Santina da Costa</option>
              <option>Salão do reino</option>
              <option>Filipini</option>
              <option>Guadalupe</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-2">
            <label for="validationCustom03" class="form-label">Tipo de publicador</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Escolha...</option>
              <option>Publicador</option>
              <option>Pioneiro auxiliar</option>
              <option>Pioneiro regular</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-2">
            <label for="validationCustom03" class="form-label">Gênero</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Escolha...</option>
              <option>Feminino</option>
              <option>Masculino</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-2">
            <label for="validationCustom03" class="form-label">Privilégio</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Escolha...</option>
              <option>Ancião</option>
              <option>Servo ministerial</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>

          <div class="col-md-2">
            <label for="validationCustom05" class="form-label">Data de nascimento</label>
            <input type="date" class="form-control" id="dtNascimento" name="dtNascimento" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>

          <div class="col-md-2">
            <label for="validationCustom05" class="form-label">Data de batismo</label>
            <input type="date" class="form-control" id="dtBatismo" name="dtBatismo" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>

          <div class="col-md-2">
            <label for="validationCustom02" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-12">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-10 col-md-8 col-sm-10">
      <div class="card p-4 shadow-lg">
        <h2 class="mb-4 text-center">Cadastro de Pessoa</h2>
        <form (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome">
          </div>
          <div class="form-group">
            <label for="nomeCompleto">Nome Completo:</label>
            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" [(ngModel)]="nomeCompleto">
          </div>
          <div class="form-group">
            <label for="nomeFamilia">Nome da Família:</label>
            <input type="text" class="form-control" id="nomeFamilia" name="nomeFamilia" [(ngModel)]="nomeFamilia">
          </div>
          <div class="form-group">
            <label for="grupo">Grupo:</label>
            <input type="text" class="form-control" id="grupo" name="grupo" [(ngModel)]="grupo">
          </div>
          <div class="form-group">
            <label for="tipoPublicador">Tipo de Publicador:</label>
            <input type="text" class="form-control" id="tipoPublicador" name="tipoPublicador"
              [(ngModel)]="tipoPublicador">
          </div>
          <div class="form-group">
            <label for="privilegio">Privilégio:</label>
            <input type="text" class="form-control" id="privilegio" name="privilegio" [(ngModel)]="privilegio">
          </div>
          <div class="form-group">
            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" class="form-control" id="dataNascimento" name="dataNascimento"
              [(ngModel)]="dataNascimento">
          </div>
          <div class="form-group">
            <label for="dataBatismo">Data de Batismo:</label>
            <input type="date" class="form-control" id="dataBatismo" name="dataBatismo" [(ngModel)]="dtBatismo">
          </div>
          <div class="form-group">
            <label for="sexo">Sexo:</label>
            <select class="form-control" id="sexo" name="sexo" [(ngModel)]="sexo">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
          <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" [(ngModel)]="telefone">
          </div>
          <div class="form-group">
            <label for="endereco">Endereço:</label>
            <textarea class="form-control" id="endereco" name="endereco" rows="3" [(ngModel)]="endereco"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>-->