<!-- Modal para exibir informações da pessoa -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': pessoaSelecionada}"
  [style.display]="pessoaSelecionada ? 'block' : 'none'" (keyup.esc)="fecharModal()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes da Pessoa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Nome</td>
              <td>{{pessoaSelecionada?.nome}}</td>
            </tr>
            <tr>
              <td>Nome Completo</td>
              <td>{{pessoaSelecionada?.nomeCompleto}}</td>
            </tr>
            <tr>
              <td>Nome Família</td>
              <td>{{pessoaSelecionada?.nomeFamilia}}</td>
            </tr>
            <tr>
              <td>Grupo</td>
              <td>{{pessoaSelecionada?.grupo}}</td>
            </tr>
            <tr>
              <td>Tipo de publicador</td>
              <td>{{pessoaSelecionada?.tipoPublicador}}</td>
            </tr>
            <tr>
              <td>Privilégio</td>
              <td>{{pessoaSelecionada?.privilegio}}</td>
            </tr>
            <tr>
              <td>Data de nascimento</td>
              <td>{{pessoaSelecionada?.dtNascimento | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td>Data de batismo</td>
              <td>{{pessoaSelecionada?.dtBatismo | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td>Sexo</td>
              <td>{{pessoaSelecionada?.sexo}}</td>
            </tr>
            <tr>
              <td>Telefone</td>
              <td>{{pessoaSelecionada?.telefone}}</td>
            </tr>
            <tr>
              <td>Endereço</td>
              <td>{{pessoaSelecionada?.endereco}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
